/*首页样式*/
body {
	font-family: "微软雅黑";
	background-color: #E3F0FE;
}

.con-upper {
	background-color: #67B5FC;
	padding-bottom: 36px;
}

.uppers {
	text-align: right;
	/*position: relative;*/
}

.uppers-img {
	width: 60%;
}


/*事件区域beg*/

.uppers-info {
	background-color: #FFFFFF;
	border-radius: 8px;
	height: 95px;
	width: 98%;
	margin: 0 auto;
	margin-top: 6px;
	padding: 10px 12px;
	position: absolute;
	left: 1%;
}

.uppers-info dl {
	text-align: center;
	float: left;
	margin: 0;
	width: 33%;
}
.uppers-info-2 dl{
	width: 50%;
}
.uppers-info dl dt {
	font-size: 28px;
	color: #666666;
}

.uppers-info dl dd {
	font-size: 18px;
	color: #999999;
	font-weight: bold;
}


/*事件区域end*/

.con-lower {
	padding-top: 78px;
	padding-bottom: 20px;
	color: #FFFFFF;
}

.lower {
	width: 96%;
	margin: 0 auto;
	margin-bottom: 16px;
	border-radius: 8px;
	clear: both;
	height: 101px;
	padding: 0 20px;
	box-shadow: 2px 6px 6px #aaaaaa;
}

.lower dt {
	float: left;
	width: 40%;
	vertical-align: middle;
	margin-top: 26px;
}

.lower dd {
	width: 60%;
	float: right;
	text-align: right;
	vertical-align: middle;
}

.lower-number {
	font-size: 28px;
}

.lower-txt {
	font-size: 24px;
}