body,
ul,
li {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	height: 100%;
	width: 100%;
	background-color: #E6EFFD!important;
}

.am-navbar-nav a img {
	margin: 12px auto!important;
}



.fa-2x {
	line-height: 70px!important;
}

.am-panel {
	margin: 0!important;
	border: 0!important;
	float: left;
	width: 100%;
}

.am-panel-bd {
	float: left;
	width: 100%;
}

.body_context_color {
	background-color: #E6EFFD!important;
	height: 70%;
}

.dbsx_title_date {
	float: left;
	width: 100%;
}

.dbsx_title_date li {
	list-style: none;
	width: 33.3%;
	float: left;
	text-align: center;
	padding-bottom: 1.0rem!important;
}

.font_style_one {
	color: #9CC5FF;
	font-size: 1.6rem;
	font-weight: bold;
}

.font_style_two {
	font-size: 2.6rem;
}

.dbsx_title_date .am-panel-bd {
	padding: 0!important;
	/*padding-top: 0.7rem!important;*/
}

.dbsx_title_date li:hover {
	border-bottom: 2px solid #9CC5FF;
}

.search_box {
	width: 45px;
	height: 42px;
	background-color: #85B8FD;
	border-radius: 10px;
	float: left;
}

.search_box img {
	margin: 3px 4px;
}

.box_border_radius_small {
	border-radius: 6px!important;
}

.box_border_radius_big {
	border-radius: 16px!important;
}

.search_text {
	float: left;
	height: 42px;
	line-height: 42px;
	margin-left: 15px;
	color: #9CC5FF;
	font-size: 16px;
}


.title_link_text {
	font-size: 24px;
}

.body_context_color>.am-panel-bd {
	padding: 0px!important;
	/*padding: 0.6rem!important;*/
	padding: 0.6rem 0.6rem 0rem 0.6rem!important;
}

.am-panel {
	box-shadow: 0 0px 0px rgba(0, 0, 0, .05)!important;
}

/******案件列表beg******/
.box_border_radius_big .am-panel-bd {
	/*padding: 0!important;*/
	padding: 6px 10px 6px 10px;
	position: relative;
}

/*案件列表-左边*/
.case_image_one {
	width: 20%;
	height: 85px;
	float: left;
	/*margin-top: 1.05rem;
	margin-bottom: 1.05rem;*/
	margin-top: 15px;
	
}

.case_image_one .case_info_img {
	width: 100%;
	height: 100%;
}

.case_image_one .case_info_img img {
	width: 100%;
	height: 100%;
}

.case_image_one .case_status_img {
	position: absolute;
	bottom: 0;
	left: 0px;
	/*width: 20%;
	height: 30%;*/
	width: 50px;
	height: 50px;
}

.case_image_one .case_status_img img {
	width: 100%;
	height: 100%;
	
}



/*案件列表-右边*/
.caseinfo_text {
	float: left;
	width: 100%;
}
.caseinfo_text>div {
	/*margin: 5px 15px;*/
	width: 92%;
	margin: 0 auto;
}


.TASK_ID {
	font-size: 16px;
	color: #9CC5FF;
	font-weight: bold;
	position: relative;
}

.taskid_from {
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	/*width: 100px;*/
	padding: 0 6px;
	border-radius: 5px;
	margin-left: 10px;
	position: absolute;
	right: 0;
	

}

.taskid_from_backg_one {
	background-color: #85B8FD;
}

.taskid_from_backg_two {
	background-color: #FF3333;
}

.case_context {
	font-size: 1.6rem;
	color: #999999;
	border-bottom: 1px solid #999999;
}

.case_time {
	font-size: 14px;
	color: #999999;
	font-family: "微软雅黑";
	/*font-weight:bold;*/
	text-align: right;
}

.case_title {
	display: inline-block;
	/*width: 32%;*/
	width: 94px;
	text-align: right;
}


.case_list_info {
	overflow: scroll;
	height: 73%;
	position: fixed;
	top: 118px;
	/*padding-bottom: 50px!important;*/
}

@media only screen and (min-height:700px) {
	.case_list_info {
		overflow: scroll;
		height: 76%;
		position: fixed;
		top: 118px;
		overflow-x: hidden;
		padding-bottom: 20px;
	}
}
@media only screen and (min-height:810px) {
	.case_list_info {
		overflow: scroll;
		height: 79%;
		position: fixed;
		top: 118px;
		overflow-x: hidden;
		/*padding-bottom: 20px;*/
	}
}
@media only screen and (max-width: 370px) {
	.case_list_info {
		overflow: scroll;
		height: 68%;
		position: fixed;
		top: 118px;
		/*padding-bottom: 50px!important;*/
	}
	
	.case_context {
		font-size: 1.3rem;
	}
	.case_time {
		font-size: 1.3rem;
	}
	.TASK_ID {
		font-size: 1.6rem;
	}
	
	.am-modal-dialog .lower {
		width: 98%;
		margin-bottom: 0;
		height: 76%!important;
		overflow: scroll;
	}
}

/*案件列表end*/



.load_more_btn {
	background-color: #DDE3ED!important;
	width: 100%;
	font-size: 14px!important;
	color: #999999!important;
}



/***弹出层的样式****/

.lower {
	width: 96%;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	/*border-radius: 8px;*/
	padding: 8px;
	font-size: 14px;
}

.search_title {
	width: 98%;
	margin: 0 auto;
	/*margin-bottom: 10px;*/
	background-color: #FFFFFF!important;
	/*border-radius: 8px;*/
	padding: 8px;
	font-size: 14px;
	text-align: left;
	margin-top: 10%;
}

.lower-title {
	font-size: 16px;
	color: #9CC5FF;
	border-left: 2px solid #9CC5FF;
	padding-left: 6px;
	height: 22px;
	line-height: 22px;
	margin-bottom: 10px;
}

.lower ul {
	padding: 0;
	margin: 0;
}


/*按钮*/

.lower-btn {
	width: 96%;
	margin: 0 auto;
	 position: fixed;
    bottom: 10px;
    transform: translateX(2%);

}

.lower-btn button {
	border-radius: 6px;
}


/*************lower*************/


/*************弹窗*************/

.am-modal-dialog {
	width: 100%;
	position: absolute;
	left: 0;
	/*top: 10%;*/
	height: 100%;
	/*overflow: scroll;*/
}

.am-modal-dialog .lower {
	width: 98%;
    margin-bottom: 0;
    height: 78%;
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    transform: translateX(1%);


}

.am-modal-bd {
	padding: 0px 0;
	text-align: initial;
}

.am-form-group {
	margin-bottom: 0.8rem;
}

.am-form-group label,
.am-form-group textarea {
	width: 100%;
}

.am-form-group input {
	width: 100%;
	height: 37px;
	line-height: 37px;
	border: 1px solid transparent;
	border-color: #e6e6e6;
}

.req-title {
	color: #797979;
	font-size: 14px;
}


/*接单备注计数数字*/

.req-txteare-numbr {
	text-align: right;
	display: inherit;
	color: #797979;
	font-size: 14px;
	font-weight: normal;
}


/*时间*/

.req-time {
	position: relative;
}

.req-time2 {
	position: relative;
}

.req-time2 i {
	position: absolute;
	right: 4px;
	top: 4px;
}

.req-time i {
	position: absolute;
	right: 4px;
	top: 32px;
}


/*(带时间条件时)弹窗样式beg*/

.dwo {
	/*background: none;*/
}

.dw-persp {
	z-index: 1111;
}


/*(带时间条件时)弹窗样式end*/


/*************弹窗*************/

.close_win_search {
	/*position: absolute;
    		right: 10px;*/
	padding-left: 88%;
	margin-bottom: 5px;
}

.close {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background-image: url(../../images/close.png);
	background-repeat: no-repeat;
	background-size: 20px;
	/*background-origin: content-box;
	background-position:top right;*/
	float: right;
	cursor: pointer;
}
/****弹出层样式end***/

#form_model .am-modal-bd,
.am-modal-dialog {
	background-color: #E6EFFD!important;
}
.case_status_bac{
	color: #FFFFFF;
	background-color: #85B8FD;
	font-size: 1.2rem;
	text-align: center;
}
.case_img_div{
	width: 100%;
    position: relative;
    margin-top: 5px;
    border-bottom: 1px solid #999999;
    padding-bottom: 5px;
}
.case_img_div .case_info_img  img{
	height: 100px;
    width: 100%;
}
.case_img_div .case_status_img {
	position: absolute;
    top: 0;
    left: -22px;
}
.case_img_div .case_status_img  img{
	height: 60px;
    width: 60px;
}