html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	font-family: 微软雅黑;
	background-color: rgb(227, 240, 254);
	margin: 0;
	padding: 0;
}

.map-panel {
	height: 100%;
	font-family: 微软雅黑;
	background-color: rgb(227, 240, 254);
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
}

#map_model {
	width: 95%;
	height: 87%;
	margin: 5% auto 2%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #FFFFFF;
	position: relative;
}

.map_model-title {
	width: 96%;
	height: 25px;
	line-height: 25px;
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-left: 2px solid #9CC5FF;
}

.map_model-title span {
	color: #9CC5FF;
	font-size: 16px;
	text-indent: 5px;
}

.map_model-title icon {
	width: 20px;
	height: 20px;
	background-image: url(images/close.png);
	background-repeat: no-repeat;
	background-size: 20px;
	cursor: pointer;
}

.map_model-tips {
	width: 96%;
	height: 25px;
	display: flex;
	align-items: center;
}

.map_model-tips icon {
	width: 20px;
	height: 20px;
	background-image: url(images/map_location.png);
	background-repeat: no-repeat;
	background-size: 20px;
	cursor: pointer;
	margin-right: 5px;
}

.map_model-tips label {
	font-size: 16px;
	font-weight: bold;
	color: #797979;
	margin-right: 5px;
}

.map_model-tips span {
	color: #797979;
	font-size: 14px;
	font-weight: normal;
}

.map_model-search {
	width: 96%;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #CCCCCC;
	border-left: none;
	border-right: none;
}

.map_model-search input {
	width: 100%;
	height: 100%;
	font-size: 14px;
	background-color: #FFFFFF;
	color: #797979;
	border: 0;
	outline: none;
	margin: 0;
	padding: 0;
	text-indent: 3px;
}

#container {
	/*height: calc(100% - 300px);*/
	height: calc(100% - 120px);
	width: 96%;
	margin: 0 auto;
}

#r-result {
	height: 160px;
	width: 96%;
	margin: 0px auto;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	overflow: hidden;
	overflow-y: scroll;
	position: absolute;
	bottom: 5px;
	background-color: #ffffff;
	/*border-right-color: #ffffff;
    border-left-color: #ffffff;*/
}

#r-result ul {
	margin: 0;
	padding: 0;
}

#r-result ul li {
	width: 98%;
	margin: 0 auto;
	padding: 0;
	cursor: pointer;
	color: #797979;
	font-size: 14px;
	text-indent: 3px;
	line-height: 22px;
	list-style: none;
	border-bottom: 1px dashed;
}

#r-result ul li.active {
	background-color: #CCCCCC;
	color: #FFFFFF;
}

.map_model-btns {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.btn-secondary {
	width: 90%;
	line-height: 1.2;
	padding: 0.2em 1em;
	font-size: 1.22rem;
	font-weight: 400;
	text-align: center;
	color: #fff;
	background-color: #3bb4f2;
	border-color: #3bb4f2;
	border: 1px solid transparent;
	border-radius: 6px;
	outline: 0;
	cursor: pointer;
	user-select: none;
	-webkit-transition: background-color .3s ease-out, border-color .3s ease-out;
	transition: background-color .3s ease-out, border-color .3s ease-out;
}